.taskStart_content {
  .left_box {
    position: absolute;
    transform: scale(0.8);
    z-index: 3;
    left: -2%;
    bottom: -50px;
    top: -20px;
    width: 400px;
    background: linear-gradient(180deg, #0a1d64 0%, rgba(21, 30, 73, 0.7) 100%);
    display: flex;
    flex-direction: column;
    transition: width 0.1s;

    /* 添加过渡效果 */
    .heard {
      height: 40px;
      background: url("../../../assets/panel/panel_bg.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: PingFangSC;
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      text-shadow: 0px 0px 12px rgba(0, 106, 255, 0.8);
      font-style: normal;
      position: relative;

      .go_back {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('./img/back.png') no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }

      .close_modal {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('./img/close_new.png') no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }
    }

    .taskInfo {
      background: rgba(0, 107, 236, 0.3);
      border-radius: 0px;
      padding: 14px 20px 10px 16px;

      .top_info {
        height: 32px;
        width: 308px;
        background: linear-gradient(90deg, #004ADB 0%, rgba(0, 40, 117, 0) 100%);
        border-radius: 4px 8px 8px 4px;
        line-height: 32px;
        font-family: PingFangSC;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        text-indent: 12px;
      }

      .task_box {
        padding-left: 12px;
        padding-top: 10px;

        .item_box {
          display: flex;
          align-items: center;
          height: 34px;

          .left {
            font-family: PingFangSC;
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            width: 70px;
          }

          .right {
            // color: #fff;
            font-family: PingFangSC;
            font-weight: 400;
            font-size: 14px;
            flex: 1;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            /* 超出部分省略号 */
            word-break: break-all;
            /* break-all(允许在单词内换行。) */
            display: -webkit-box;
            /* 对象作为伸缩盒子模型显示 */
            -webkit-box-orient: vertical;
            /* 设置或检索伸缩盒对象的子元素的排列方式 */
            -webkit-line-clamp: 2;
            /* 显示的行数 */
            flex-wrap: wrap;

            .point {
              width: 8px;
              height: 8px;
              // background: #2b99ff;
              border-radius: 0px 0px 0px 0px;
              border-radius: 50%;
            }

            .text {
              // color: #2b99ff;
              margin-left: 4px;
            }
          }
          .yjjq{
            color: #FF4040;
            .point{
              background: #FF4040;
            }
          }
          .yjrw{
            color: #FF6633;
            .point{
              background: #FF6633;
            }
          }
          .ejrw{
            color: #FFE433;
            .point{
              background: #FFE433;
            }
          }
          .sjrw{
            color: #33FF77;
            .point{
              background: #33FF77;
            }
          }
          .bwrw{
            color: #00A6FF;
            .point{
              background: #00A6FF;
            }
          }
        }

        .task_newBox {
          display: flex;
          align-items: center;
          margin: 16px 0;

          .task_gh {
            width: 100px;
            height: 32px;
            background: #274EEF;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
           
          }

          .task_yzt {
            width: 100px;
            height: 32px;
            background: #274EEF;
            margin: 0 16px;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
          }

          .task_my {
            width: 100px;
            height: 32px;
            background: #274EEF;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }

      }
    }

    .addTask {
      // background: rgba(0, 0, 0, 0.24);
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left_text {
        font-family: PingFang SC;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        color: #FFFFFF;
      }

      .right_creat_btn {
        width: 84px;
        height: 32px;
        background: #274EEF;
        text-align: center;
        line-height: 32px;
        text-align: center;
        font-family: Source Han Sans;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
      }
    }

    .content {
      flex: 1;
      padding: 16px;
      padding-top: 0px;
      overflow: hidden;

      .item_box {
        height: 100%;
        overflow: auto;

        .importantPoint {
          width: 100%;
          // background: linear-gradient(180deg, rgba(0, 19, 94, 0) 0%, rgba(0, 7, 33, 0.38) 100%);
          margin-bottom: 8px;
          font-family: PingFang SC;
          position: relative;

          .top_time {
            display: flex;
            align-items: center;
            height: 36px;
            color: #00CEFF;
            .left {
              width: 17px;
              height: 17px;
              border-radius: 50%;
              background: #00CEFF;
            }

            .right {
              flex: 1;
              margin-left: 15px;
              display: flex;
              align-items: center;

              .line {
                width: 46.5px;
                height: 0px;
                border: 1px solid #D8D8D8;
                margin: 0 10px;
              }
            }
          }

          .data_box {
            display: flex;
            align-items: center;

            .left {
              width: 17px;
              height: 17px;
            }

            .right {
              flex: 1;
              margin-left: 15px;
              min-height: 114px;
              border-radius: 4px;
              opacity: 1;
              background: linear-gradient(180deg, rgba(0, 0, 2, 0.24) 0%, rgba(0, 7, 33, 0.38) 99%);
              border: 0px solid #274EEF;
              position: relative;
              cursor: pointer;

              .type_box {
                position: absolute;
                right: 0;
                top: 0;
                width: 90px;
                height: 34px;
                background: #F2994A;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 34px;
                text-align: center;
              }

              .task_name {
                line-height: 23.24px;
                margin: 13px 102px 0 12px;
              }
              .task_name1{
                line-height: 23.24px;
                font-size: 12px;
                margin: 4px 12px;
              }
              .bottom_btn {
                display: flex;
                align-items: center;
                margin-top: 7px;
                margin-left: 10px;
                padding-bottom: 10px;
                .edit_btn {
                  width: 50px;
                  height: 26px;
                  line-height: 26px;
                  color: #fff;
                  cursor: pointer;
                  text-align: center;
                  background: #274EEF;
                  font-size: 12px;
                }

                .action_btn {
                  width: 58px;
                  height: 24px;
                  border-radius: 2px;
                  opacity: 1;
                  box-sizing: border-box;
                  border: 0.6px solid rgba(151, 185, 255, 0.6);
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  .el-icon {
                    margin-left: 6px;
                  }
                }
              }
            }

            .active {
              border: 2px solid #274EEF;
            }
          }

          // .top_title {
          //   display: flex;
          //   align-items: center;
          //   justify-content: space-between;
          //   height: 34px;
          //   background: linear-gradient(270deg, rgba(0, 40, 117, 0) 0%, #004ADB 100%);
          //   border-radius: 2px 2px 2px 2px;

          //   .left_text {
          //     font-size: 16px;
          //     color: #FFFFFF;
          //     padding-left: 10px;
          //   }

          //   .right_type {
          //     width: 68px;
          //     height: 28px;
          //     font-size: 14px;
          //     color: #FFFFFF;
          //     display: flex;
          //     align-items: center;
          //     justify-content: center;
          //   }

          //   .line {
          //     background: #236EFF;
          //   }

          //   .xc {
          //     background: #23E2FF;
          //   }

          //   .zd {
          //     background: #6881FF;
          //   }
          // }

          // .center_box {
          //   display: flex;
          //   align-items: center;
          //   justify-content: center;

          //   .box_big {
          //     display: flex;
          //     align-items: center;
          //     justify-content: center;
          //     width: 68px;
          //     flex-direction: column;
          //     padding-top: 20px;

          //     .text {
          //       font-size: 16px;
          //       color: #FFFFFF;
          //       margin-top: 12px;
          //     }

          //     .box {
          //       display: flex;
          //       align-items: center;
          //       justify-content: center;
          //       width: 68px;
          //       height: 68px;
          //       // margin-top: 20px;
          //     }

          //     .police {
          //       border: 4px solid rgba(0, 87, 255, 0.7);
          //       font-weight: 700;
          //       font-size: 30px;
          //       color: #03E2F6;
          //       text-shadow: 0px 0px 7px rgba(2, 27, 254, 0.85);
          //     }

          //     .car {
          //       border: 4px solid rgba(255, 217, 114, 0.7);
          //       font-weight: 700;
          //       font-size: 30px;
          //       text-shadow: 0px 0px 7px rgba(255, 123, 0, 0.86);
          //       color: #FFD972;
          //       // margin: 0 10%;
          //       // margin-top: 20px;
          //     }

          //     .line {
          //       border: 4px solid rgba(131, 255, 98, 0.7);
          //       font-weight: 700;
          //       font-size: 30px;
          //       text-shadow: 0px 0px 7px rgba(54, 255, 0, 0.65);
          //       color: #56FF29;
          //     }
          //   }
          // }

          // .bottom_btn {
          //   display: flex;
          //   align-items: center;
          //   justify-content: flex-end;
          //   margin: 20px 24px 0 0;

          //   .action_btn {
          //     width: 58px;
          //     height: 24px;
          //     border-radius: 2px 2px 2px 2px;
          //     border: 1px solid rgba(151, 185, 255, 0.6);
          //     cursor: pointer;
          //     font-size: 12px;
          //     color: #97B9FF;
          //     display: flex;
          //     align-items: center;
          //     justify-content: center;

          //     .el-icon {
          //       margin-left: 8px;
          //     }
          //   }
          // }
        }

        // .importantPoint:hover{
        //   width: calc(100% - 8px);
        //   border: 2px solid #274EEF;
        //   background: radial-gradient(  rgba(0,0,0,0) 0%, #000000 100%);
        //   .btn_action{
        //     // display: block;
        //     visibility: visible;
        //   }
        //   .del{
        //     // display: block;
        //     visibility: visible;
        //   }
        //   .model{
        //     visibility: visible;
        //   }
        // }
        .active_box {
          .model {
            visibility: visible;
            border: 2px solid #00ffff;
            border-radius: 4px;

          }
        }

        // .addTask {
        //   margin: 0 16px;
        //   height: 56px;
        //   background: rgba(0, 0, 0, 0.5);
        //   border-radius: 12px 12px 12px 12px;
        //   border: 1px solid #5b6799;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   cursor: pointer;
        // }
      }
    }
  }
}

.addScreen_content {
  position: absolute;
  transform: scale(0.8);
  z-index: 3;
  left: 300px;
  // bottom: 20px;
  top: 20px;
  width: 400px;
  height: 600px;
  background: linear-gradient(180deg, #0a1d64 0%, rgba(21, 30, 73, 0.7) 100%);

  .tabs {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;

    .tabs_item {
      flex: 1;
      text-align: center;
      font-weight: 350;
      font-size: 14px;
      color: #97B9FF;
      border-radius: 0px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .active {
      color: #fff;
      background: linear-gradient(180deg, rgba(0, 74, 218, 0) 0%, rgba(0, 74, 218, 0.75) 100%);
      border-radius: 0px 0px 0px 20px;
      border: 1px solid;
      border-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(151.00000619888306, 185.00000417232513, 255, 1)) 1 1;
      border-left: 0px;
      border-bottom: 0px;
    }
  }

  .from_content {
    padding: 20px 24px;
    padding-left: 10px;
    padding-top: 40px;

    :deep(.customForm) {
      .subMit_btn {
        width: 88px;
        height: 36px;
        background: #274EEF;
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        margin: 20px auto;
      }
      .cancle_btn{
        width: 88px;
        height: 36px;
        background:  rgba(31, 76, 152, 0.8677);
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        margin: 20px auto;
        margin-right:20px;
      }

      .el-form-item__label {
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        opacity: 0.8;
      }

      .el-form-item__content {
        .el-input {
          border: 1px solid #5b6799;
          border-radius: 2px;

          .el-input__wrapper {
            background: rgba(0, 12, 78, 0.5);
            box-shadow: none;
          }

          .el-input__inner {
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
      .el-input-group__append{
        box-shadow: none;
        background-color: rgba(0, 12, 78, 0.5);
        border-left: 1px solid #ccc;
        cursor: pointer;
      }
    }
  }
}

.Draw_content {
  position: absolute;
  // transform: scale(0.8);
  z-index: 3;
  left: 50%;
  // bottom: 20px;
  top: 60px;
  width: 400px;
  height: 80px;
  background: linear-gradient(180deg, #0a1d64 0%, rgba(21, 30, 73, 0.7) 100%);
  transform: translateX(-50%);

  .action_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .manyou_btn {
      cursor: pointer;
      height: 36px;
      width: 80px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      background: #274EEF;
      border-radius: 4px 4px 4px 4px;
    }

    .caozuo_btn {
      cursor: pointer;
      height: 36px;
      width: 60px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      background: #274EEF;
      border-radius: 4px 4px 4px 4px;
      margin-left: 16px;
    }
  }
}