.taskStart_content {
  .left_box {
    position: absolute;
    transform: scale(0.8);
    z-index: 3;
    left: -2%;
    bottom: 20px;
    top: 70px;
    width: 400px;
    background: linear-gradient(180deg, #0a1d64 0%, rgba(21, 30, 73, 0.7) 100%);
    display: flex;
    flex-direction: column;
    transition: width 0.1s; /* 添加过渡效果 */
    .heard {
      height: 40px;
      background: url("../../../assets/panel/panel_bg.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: PingFangSC;
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      text-shadow: 0px 0px 12px rgba(0, 106, 255, 0.8);
      font-style: normal;
    }
    .taskInfo{
      background: rgba(0,107,236,0.3);
      border-radius: 0px;
      padding: 14px 20px 10px 16px;
      .top_info{
        height: 32px;
        width: 308px;
        background: linear-gradient( 90deg, #004ADB 0%, rgba(0,40,117,0) 100%);
        border-radius: 4px 8px 8px 4px;
        line-height: 32px;
        font-family: PingFangSC;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        text-indent:12px;
      }
      .task_box{
        padding-left: 12px;
         padding-top: 10px;
        .item_box{
          display: flex;
          align-items: center;
          height: 34px;
          .left{
            font-family: PingFangSC;
            font-weight: 400;
            font-size: 14px;
            color: rgba(255,255,255,0.7);
            width: 70px;
          }
          .right{
            color: #fff;
            font-family: PingFangSC;
            font-weight: 400;
            font-size: 14px;
            flex: 1;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;  /* 超出部分省略号 */
            word-break: break-all;  /* break-all(允许在单词内换行。) */
            display: -webkit-box; /* 对象作为伸缩盒子模型显示 */
            -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
            -webkit-line-clamp: 2; /* 显示的行数 */
            flex-wrap: wrap;
            .point {
                  width: 8px;
                  height: 8px;
                  background: #2b99ff;
                  border-radius: 0px 0px 0px 0px;
                  border-radius: 50%;
                }
                .text {
                  color: #2b99ff;
                  margin-left: 4px;
                }
          }
        }

      }
    }
    .addTask {
      background: rgba(0, 0, 0, 0.24);
      border-radius: 4px 4px 4px 4px;
      border: 1px solid rgba(80, 170, 255, 0.23);
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      }
    .content {
      flex: 1;
      padding: 20px;
      padding-top: 0px;
      overflow: hidden;
      padding-bottom: 80px;
      .item_box {
        height: 100%;
        overflow: auto;
        .importantPoint {
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 12px;
          margin-bottom: 16px;
          height: 176px;
          font-family: PingFang SC;
          position: relative;
          .top_set{
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name{
              display: flex;
              align-items: center;
              font-size: 20px;
              color: #000000;
              background: #fff;
              padding: 4px;
              .edit{
                cursor: pointer;
                margin-left: 4px;
              }
            }
            .del{
              cursor: pointer;
              // display: none;
              visibility: hidden;
            }
          }
          .btn_action{
            // display: none;
            visibility: hidden;
            position: absolute;
            top: 50%;
            left:50%;
            z-index: 5;
            transform: translate(-50%,-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            .sub_btn {
              width: 92px;
              height: 36px;
              background: #274EEF;
              border-radius: 4px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              .span1{
                margin-left: 4px;
                font-size: 12px;
              }
            }
          }
          .model{
            visibility: hidden;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            background: radial-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
            // z-index: 10;
          }
          .camera-img{
            width: 100%;
            height: 100%;
          }
        }
        .importantPoint:hover{
          width: calc(100% - 8px);
          border: 2px solid #274EEF;
          background: radial-gradient(  rgba(0,0,0,0) 0%, #000000 100%);
          .btn_action{
            // display: block;
            visibility: visible;
          }
          .del{
            // display: block;
            visibility: visible;
          }
          .model{
            visibility: visible;
          }
        }
        .active_box{
          .model{
            visibility: visible;
            border: 2px solid #00ffff;
            border-radius: 4px;
            
          }
        }
        // .addTask {
        //   margin: 0 16px;
        //   height: 56px;
        //   background: rgba(0, 0, 0, 0.5);
        //   border-radius: 12px 12px 12px 12px;
        //   border: 1px solid #5b6799;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   cursor: pointer;
        // }
      }
    }
    .save_box{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  .sub_btn {
    width: 88px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: rgba(31, 76, 152, 0.87);
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
  }
  .sure_btn {
    margin-left: 16px;
    background: #274eef;
  }
    }
  }
}
