/**
 * @FileDescription: 标绘->画线/画面/拉面/水纹 || 资源库->光流
 * @Author: yuanhaijun
 * @Date: 2023.04.03
 * @LastEditors: yuanhaijun
 * @LastEditTime: 2023.04.03
 */
.draw-list {
    .el-scrollbar {
        max-height: 70vh !important;

        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            &>div {
                width: calc(100% - 40px);
                display: flex;
                justify-content: space-between;
                align-items: center;

                .list-left span {
                    margin-left: 6px;
                }

                .el-dropdown {
                    font-size: 18px;
                    cursor: pointer;
                    padding: 0 4px;
                }
            }

        }
    }
}

// 新建
.draw-form {
    .el-scrollbar {
        height: 70vh !important;
    }

    .warp-list {
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &.color-picker-box>div {
            display: flex;

            .el-input {
                width: 80px;
                margin-left: 10px;
            }
        }

        &.user-attr-box {
            ul>li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .el-input {
                    margin-right: 10px;
                }
            }

            i {
                font-size: 18px;
                padding: 4px;
                cursor: pointer;
            }
        }

        .input-box {
            display: flex;
            justify-content: space-between;

            .el-slider {
                width: calc(100% - 96px);
            }

            .el-input-number {
                width: 80px;
            }
        }

        .el-select {
            width: 100%;
        }

        .el-radio {
            color: #ffffff;
        }

        p {
            margin-bottom: 8px;
        }
    }

    .button-wrap {
        margin: 10px 0 20px 0;
    }
}

// 操作按钮
:deep(.button-wrap) {
    display: flex;
    justify-content: center;

    &.bg>div {

        &:nth-child(1) {
            // color: #ffffff;
            // border-color: #979797;
            color: #4ec9e4;
            border-color: #4ec9e4;
        }

        &:nth-child(2) {
            color: #fff;
            // border-color: #029eff;
            // border-color: #029eff;
            background-color: rgba(29, 139, 169,1);
            border: none;
        }
        &:nth-child(2):hover {
            background-color: rgba(29, 139, 169,0.8);
            // font-size: 18px;
        }
    }

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 116px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid #DCDFE6;
        cursor: pointer;
        margin: 0 14px;
        padding: 0 16px;

        i.el-icon-plus {
            margin-right: 4px;
        }
    }
}
